@import url('https://fonts.googleapis.com/css2?family=Fondamento&family=Syncopate:wght@700&display=swap');

html {
    min-height: 100%;
  }
  
  body {
    min-height: 100vh;
  }

.navbarColor{
    background-color: #c4fb6d;
    color: #393e46;
}

.brandFont{
    font-family: 'Fondamento', cursive;
}
.fluidBgColor{
    position: relative;
    top:40px;
    height: 100%;
    padding-bottom: 50px;
    background-color: #eeeeee !important;
}
.jumbotronBgColor{
    background-color: #76ead7;
    position: relative;
    top:40px;
}
#expenseTable{
    position: relative;
    top: 20px;
}
